## Investigating song LYRIC data...

In [1]:
# library imports
import os
import pandas as pd
from os import listdir
from os.path import isfile, join

# data imports
data_path = "/Users/dayoorigunwa/code_base/music_mapping/data/"
allfiles = [f for f in listdir(data_path) if isfile(join(data_path, f))]
lyric_file = "SpotifySongLyrics.csv"

# sanity check
lyric_df = pd.read_csv(data_path + lyric_file)
df_attrs = list(dir(lyric_df))
lyric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154556 entries, 0 to 2154555
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
dtypes: object(2)
memory usage: 32.9+ MB

In [2]:
# renaming columns... tbd lololol

In [3]:
# check duplicate titles...
set(lyric_df["0"].value_counts().sort_values())

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 336,
 337,
 338,
 2384,
 340,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 350,
 351,
 352,
 4446,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 2438,
 398,
 399,
 8220,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 2456,
 2458,
 412,
 413,
 414,
 415,
 2459,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 2121,
 433,
 434,
 2475,
 436,
 437,
 438,
 2482,
 440,
 441,
 442,
 443,
 2123,
 446,
 2124,
 448,
 449,
 450,
 2496,
 452,
 2125,
 454,
 2532,
 456,
 457,
 458,
 2126,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 474,
 476,
 477,
 478,
 2130,
 480,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 2462,
 2538,
 500,
 502,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 2569,
 528,
 529,
 530,
 532,
 533,
 535,
 536,
 537,
 2584,
 539,
 540,
 543,
 544,
 545,
 546,
 2591,
 548,
 549,
 2144,
 551,
 554,
 555,
 556,
 557,
 558,
 559,
 2605,
 561,
 562,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 2622,
 575,
 4185,
 578,
 579,
 2150,
 581,
 583,
 584,
 8775,
 586,
 588,
 590,
 591,
 592,
 593,
 595,
 596,
 597,
 4692,
 599,
 603,
 604,
 605,
 2651,
 607,
 608,
 609,
 612,
 615,
 619,
 621,
 623,
 624,
 2159,
 627,
 628,
 630,
 631,
 2680,
 633,
 634,
 635,
 638,
 639,
 640,
 2686,
 642,
 644,
 646,
 652,
 654,
 656,
 657,
 661,
 663,
 664,
 2713,
 666,
 667,
 668,
 669,
 670,
 673,
 676,
 677,
 4772,
 679,
 681,
 2730,
 685,
 686,
 688,
 689,
 692,
 4789,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 703,
 704,
 705,
 708,
 711,
 712,
 713,
 6248,
 717,
 718,
 719,
 720,
 721,
 6864,
 724,
 4099,
 726,
 17110,
 729,
 4216,
 4829,
 736,
 737,
 738,
 739,
 4836,
 741,
 743,
 745,
 2793,
 748,
 749,
 750,
 751,
 752,
 4100,
 755,
 2805,
 759,
 762,
 763,
 41725,
 766,
 769,
 772,
 774,
 775,
 778,
 780,
 781,
 782,
 784,
 788,
 791,
 4887,
 4888,
 794,
 795,
 796,
 797,
 2193,
 799,
 802,
 803,
 804,
 805,
 808,
 2196,
 814,
 11059,
 821,
 826,
 828,
 830,
 833,
 837,
 841,
 17226,
 843,
 844,
 2891,
 851,
 852,
 853,
 2476,
 860,
 2909,
 862,
 9055,
 864,
 866,
 869,
 870,
 875,
 876,
 878,
 4975,
 880,
 885,
 890,
 899,
 905,
 907,
 908,
 909,
 918,
 2967,
 921,
 923,
 925,
 926,
 930,
 938,
 939,
 944,
 2996,
 950,
 951,
 3000,
 2227,
 969,
 23498,
 971,
 973,
 974,
 985,
 989,
 2232,
 991,
 994,
 3044,
 1000,
 1002,
 1004,
 19437,
 1009,
 3065,
 11258,
 1021,
 1022,
 1023,
 1027,
 2076,
 1029,
 1034,
 1040,
 8348,
 1042,
 1048,
 1050,
 1052,
 3105,
 1059,
 1061,
 1063,
 1065,
 1066,
 2247,
 5164,
 1070,
 1074,
 1079,
 13368,
 1081,
 1082,
 3134,
 1088,
 1090,
 1091,
 1094,
 1098,
 7243,
 1101,
 2254,
 1106,
 1107,
 1114,
 1115,
 1117,
 1118,
 1120,
 1123,
 1124,
 1125,
 1133,
 1146,
 1150,
 1151,
 5252,
 1160,
 1161,
 6152,
 3231,
 3233,
 1188,
 1190,
 1191,
 1202,
 1204,
 1205,
 1206,
 2275,
 1216,
 1219,
 2278,
 1223,
 1226,
 1231,
 1232,
 1234,
 1238,
 1241,
 1244,
 1250,
 1254,
 1258,
 3308,
 1265,
 1266,
 1267,
 1271,
 1273,
 1274,
 1276,
 2289,
 1278,
 5375,
 1285,
 1286,
 3333,
 1289,
 1290,
 1292,
 1305,
 1306,
 9497,
 5405,
 1310,
 1317,
 1320,
 2298,
 1323,
 1324,
 3378,
 1331,
 5428,
 1333,
 2301,
 1338,
 1340,
 1341,
 7488,
 7492,
 3401,
 3403,
 1357,
 2305,
 1359,
 3406,
 1372,
 1382,
 1384,
 9583,
 1392,
 1402,
 1404,
 13706,
 1419,
 3481,
 1435,
 1436,
 1442,
 1444,
 1450,
 3503,
 1461,
 1463,
 1465,
 1466,
 1468,
 1477,
 1479,
 1483,
 19917,
 1487,
 3538,
 1491,
 1495,
 1499,
 1500,
 5598,
 1522,
 1524,
 1527,
 1533,
 2096,
 1539,
 1542,
 1548,
 11797,
 1565,
 1569,
 1570,
 1574,
 1579,
 1581,
 1584,
 1586,
 7731,
 1594,
 5690,
 1602,
 1611,
 2358,
 1632,
 3685,
 9840,
 1650,
 1651,
 2364,
 1660,
 1662,
 1663,
 1666,
 3714,
 3724,
 3725,
 1681,
 1685,
 3741,
 3743,
 1701,
 1702,
 1704,
 1706,
 20148,
 6447,
 1720,
 1734,
 1736,
 3793,
 1753,
 5856,
 1765,
 8618,
 12010,
 1773,
 1778,
 1782,
 7939,
 1796,
 1798,
 1804,
 5904,
 1810,
 1811,
 3860,
 1813,
 1830,
 1831,
 1834,
 1835,
 3883,
 1840,
 1852,
 1861,
 1868,
 1876,
 1884,
 8028,
 1889,
 1893,
 1897,
 ...}

In [4]:
# adding calculated fields... SONG_LENGTH
lyric_df["song_length"] = lyric_df["1"].apply(lambda x: len(x))
lyric_df.sort_values(by="song_length", ascending=True, inplace=True)
lyric_df.head(5)

       0  1  song_length
20757  र  च            1
16633  य  र            1
16632  य  म            1
16631  य  र            1
16630  य  य            1

In [5]:
# adding calculated fields ... LYRIC_TYPES
def get_bracket_idx(lyric_str):
    bracket_count = 0
    bracket_locs = dict()
    for i, char in enumerate(lyric_str):
        if char == "[":
            start_ind = i
        elif char == "]":
            bracket_locs[bracket_count] = (start_ind, i)
            bracket_count += 1
    return bracket_locs


def extract_brackets(row):
    brackets = row["flavor_text_idx"]
    lyric_str = row["1"]
    bracket_list = []
    for key in list(brackets.keys()):
        bracket_list.append(lyric_str[brackets[key][0] : brackets[key][1] + 1])
    return bracket_list


lyric_df["flavor_text_idx"] = lyric_df["1"].apply(lambda x: get_bracket_idx(x))
lyric_df["flavor_text"] = lyric_df.apply(lambda x: extract_brackets(x), axis=1)
lyric_df.head(5)

       0  1  song_length flavor_text_idx flavor_text
20757  र  च            1              {}          []
16633  य  र            1              {}          []
16632  य  म            1              {}          []
16631  य  र            1              {}          []
16630  य  य            1              {}          []

#### TL;DR: 
- The majority of the lyrics seem to have been downloaded correctly, next steps are just to remove the punctuation and bracketed typing for each chunch of text... (Leverage text-mining code from hw-5 to Lemmatize the lyrics you've saved)

In [ ]:
# calculated fields continued... SCURBBED LYRICS
def scrub_brackets(row):
    brackets = row["flavor_text"]
    lyric_str = row["1"]
    for br in brackets:
        lyric_str = lyric_str.replace(br, "")
    return lyric_str


lyric_df["song_lyrics"] = lyric_df.apply(lambda x: scrub_brackets(x), axis=1)
lyric_df.head(5)

In [ ]:
# dropping rows without lyrics for now...
lyric_df = lyric_df[lyric_df["song_lyrics"] != ""]
lyric_df.head(5)

#### TODO: import necessary libraries & restart notebook...

In [ ]:
# Packages required for preprocessing
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer  # for lemmatization
import re  # regular expression package
import nltk
from nltk.corpus import stopwords

nltk.download("stopwords")
nltk.download("wordnet")
stops = set(stopwords.words("english"))

In [ ]:
# Saving Narrative for Natural Language Processing Lemmatization
text_content = lyric_df[["song_lyrics"]]

# Pre-process the data
narratives = []
lemmatizer = WordNetLemmatizer()
text_content_list = [row for row in text_content["song_lyrics"]]

for narrative in range(0, len(text_content_list)):
    # PART 1
    # replace punctuation and special characters with empty strings
    narrative = re.sub(r"[\W_]", " ", str(text_content_list[narrative]))

    # replace single letters with an empty string
    narrative = re.sub(r"\s+[a-zA-Z]\s+", " ", narrative)

    # replace single letters preceded by the char: ^ with an empty string
    narrative = re.sub(r"\^[a-zA-Z]\s+", " ", narrative)

    # trim white space to a single white space
    narrative = re.sub(r"\s+", " ", narrative, flags=re.I)

    # byte encoding indicators with empty string
    narrative = re.sub(
        r"^b\s+", "", narrative
    )  # if a review record is in bytes, the corresponding line will have a letter 'b' appended at the start)

    # force all chars in string to lowercase
    narrative = narrative.lower()

    # replace all numbers with a single empty string
    narrative = re.sub(r"[0-9]+", "", narrative)

    # replace all typos & abbreviations with single empty string
    narrative = re.sub(r"yof", "", narrative)

    # PART 2
    # split string into list of strings, using each white space as a delimiter
    narrative = narrative.split()

    # remove stop words from list of words
    narrative = [w for w in narrative if not w in stops]

    # morphological analysis of the words; removing inflections to identify the base meaning
    narrative = [lemmatizer.lemmatize(word) for word in narrative]

    # add formatted review to list of formatted reviews
    narratives.append(narrative)

In [ ]:
# Create edge list
test = narratives
edgelist = []
for i in test:
    for j in range(len(i) - 1):
        for k in range(j + 1, len(i)):
            edgelist.append([i[j], i[k]])

In [ ]:
# create pandas series from list of lists
edge_df = pd.DataFrame(edgelist)

# savings intermediate results for now...
print("Saving cleaned song lyric data... \n")
edge_df.to_csv(data_path + "SpotifySongLyrics.csv", index=False)

In [ ]:
# formatting magic...
edge_series = pd.Series(edgelist)
edge_df = edge_series.to_frame()

In [ ]:
# Convert to dictionary and store weight - using Dask
import dask.dataframe as dd
from dask.dataframe.core import get_parallel_type

# FROM pandas TO dask
dask_df = dd.from_pandas(edge_series, chunksize=128)

# Setting up dask computations
dask_df = dask_df.value_counts()

In [ ]:
# applying Dask computations
edge_count = dask_df.compute(num_workers=12)

In [ ]:
edge_count

In [ ]:
# # Setup the calculation graph; unlike Pandas code, #.value_counts().to_dict()
# # no work is done at this point:
# def get_counts(df):
#     by_party = df.groupby("Party Affiliation ")
#     street = by_party["Residential Address Street Name "]
#     return street.value_counts()
# result = get_counts(df)

# # Actually run the computation, using 2 threads:
# result = result.compute(num_workers=2)

# # Sort using normal Pandas DataFrame, since Dask's
# # Pandas emulation doesn't implement this method:
# result.sort_values(ascending=False, inplace=True)

# print(result)
# weight = pd.Series(edgelist).value_counts().to_dict()